specdata/
r_prog_hw2/ProgrammingAssignment2/

r_prog_hw3/.Rhistory
.Rproj.user

ExData_Plotting2/

CleaningData_CourseProj/

RepData_PeerAssessment1/

RepData_PeerAssessment2/

peers.txt
peers/

Courses_Lectures/

DevData_Products/
